*{
    padding: 0;
    margin: 0;
}

body{
    padding: 2em;
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;

}


main{
    width: 500px;
    padding: 2em;
    max-width: 90%;
    height: 80vh;
    margin: 0 auto;
    background-color:hsl(0, 0%, 100%);
    border-bottom-right-radius: 4em;
}

.input-section{
    display: flex;
    /* padding-top: 3em; */
    /* margin: 1em; */
    /* width: 300px; */
    font-size: 10px;
}
label{
    padding-left: 4em;
}
input{
    display: flex;
    justify-content: space-around;
    margin-left: 1em;
    padding: 1px;
    width: 80px;
    font-size: 32px;
}

.input{
    padding: 1em;
}

.arrow{
    padding-top: 2em;
    width: 700px;
}
hr{
    width: 400px;
    padding-right: 3em;
}
img{
    background-color: hsl(259, 100%, 65%);
   position: relative;
   left:400px;
   bottom: 30px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   padding: 1em;
}
.calculated-age{
    display: flex;
    flex-direction: column;

}  

.years{
    display: flex;
}

.months{
    display: flex;
}

.days{
    display: flex;
}

p{
    font-size: 4em;   
    position: relative; 
    bottom: 40px;
    font-weight: 800i;
    font-family: 'poppins';

}

.line{
    width: 1px;
    display: block;
    height: 11px;
    margin: 0.6em;
    background-color: hsl(259, 100%, 65%);

}

.display{
    color:hsl(259, 100%, 65%) ;
    padding-right: 12px;
}



.error-message {
    display: none;
    color: red;
    font-size: 12px;
  }

@font-face {
    font-family: 'poppins';
    src: url('../age-calculator-app-main/assets/fonts/Poppins-Italic.ttf');
}